<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .search-box-container {
        text-align: center;
      }

      .max-lines {
        display: inline-block;/* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em;
        line-height: 1.8em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    </style>
</head>
<body>
  <img src="../assets/images/logo.png" class="center">
  <div class="search-box-container">
    <div class="topnav">
        <input type="text" placeholder="Wpisz frazę..." [(ngModel)]="searchPhrase">
        <button (click)="getDocuments(searchPhrase)">Szukaj</button>
    </div>
  </div>
  <h3 class="col-md-12 text-center">Elasticsearch server status: {{status}}</h3>
  <textarea type="text" [(ngModel)]="output"></textarea>
  <div *ngFor="let entry of responses" style="margin-top:20px">
    <h4>{{entry.title}}</h4>
    <p class="max-lines">{{entry.abstract}}</p>
    <p style="color:green">{{entry.lastEditDate}}</p>
  </div>
</body>    
</html>